<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django template</title>
</head>
<body>
    <h1> Here we go with our first code </h1>
    <form action = '/spaceRemove' method='get'>
        <textarea name = 'text' style='margin: 0px; width: 1459px; height: 208px;'></textarea>
        <button type = 'submit'>Analyze</button>

    </form>
    
</body>
</html>